<div class="container">
  <div class="msg-box" fxLayout="column">
    <div class="msg-list" fxLayout="column">
      <div class="msg-body" *ngFor="let post of posts">
        <div class="msg-body-author">{{ post.author | author }}</div>
        <div class="msg-body-message">{{ post.message }}</div>
        <img
          *ngIf="post.image != undefined"
          class="msg-body-img"
          [src]="'http://localhost:8000/uploads/' + post.image"
          [alt]="'Photo of ' + post.author"
        />
      </div>
    </div>

    <div class="msg-form">
      <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Author</mat-label>
          <input
            type="text"
            name="author"
            ngModel
            matInput
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <textarea
            name="message"
            required
            ngModel
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input name="image" ngModel></app-file-input>
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >Post</button>
      </form>
    </div>
  </div>
</div>




