.container
  width: 600px
  margin: auto

.msg-box
  position: relative
  .msg-list-fetching
    margin-top: 20px
  .msg-list
    height: 400px
    overflow-y: scroll
    background-color: beige
    padding: 1.3em 1.3em 40px
    .msg-body
      background-color: aliceblue
      border: 1px solid #ccc
      padding: 10px
      margin-bottom: 10px
      .msg-body-author
        font-size: 13px
        margin-bottom: 2px
        font-style: italic
      .msg-body-message
        font-size: 16px
      .msg-body-img
        width: 100%
  .msg-form
    background-color: aliceblue
    padding: 1.34375em


